<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:Zv+q3qPcLeULtSGVmSARgRqDkzCuy+iH6pHC4bCKdHk="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="MERCADO_NOTIFICACIONES_ENCOLAR" value="true"/>
        <env name="RATE_LIMIT_INVITADO" value="1000"/>
        <env name="RATE_LIMIT_CLIENTE" value="1000"/>
        <env name="RATE_LIMIT_VENDEDOR" value="1000"/>
        <env name="RATE_LIMIT_INMOBILIARIA" value="1000"/>
        <env name="RATE_LIMIT_AUTH" value="1000"/>
        <env name="RATE_LIMIT_CONTACTO" value="1000"/>
    </php>
</phpunit>
